{% extends 'main.html' %}

{% block content %}
<h1>{{ group.title }}</h1>
<br>
<table class="table table-light">
    <tbody>
        <tr>
            <td>Group name:</td>
            <td>{{ group.title }}</td>
        </tr>
        <tr>
            <td>Teacher:</td>
            <td>{{ group.teacher.user.last_name }} {{ group.teacher.user.first_name }}</td>
        </tr>
        <tr>
            <td>City:</td>
            <td>{{ group.city}}
            </td>
        </tr>
        <tr>
            <td>Lesson duration</td>
            <td> {{ group.duration }}</td>
        </tr>
        <tr>
            <td>Students count</td>
            <td>{{ group.student.count }}</td>
        </tr>
        <tr>
            <td colspan="2"><a href="{% url 'groups' %}">Back</a></td>
        </tr>
    </tbody>
</table>

{% endblock content %}