{% extends 'main.html' %}
{% block title %}
{{ type }} list
{% endblock %}
{% block content %}
<h1>Customers</h1>
<table class="table table-light">
    <tr>
        <th>#</th>
        <th>Customer</th>
        <th>SSN</th>
        <th>Phone</th>
        <th>E-mail</th>
        <th colspan="3"></th>

    </tr>
    {% for object in customer_list %}
    <tr>
        <td>{{ object.id }}</td>
        <td>{{ object.last_name }} {{ object.first_name }}</td>
        <td>{{ object.ssn }}</td>
        <td>{{ object.phone }}</td>
        <td>{{ object.email }}</td>


        <td><a href="{% url 'update-customer' object.id %}">Edit</a></td>
        <td><a href="{% url 'delete-customer' object.id %}">Delete</a></td>
        <td><a href="{% url 'customer' object.id %}">View</a></td>


        {% endfor %}
    </tr>


</table>
{% endblock %}