{% extends "base.html" %}
{% from "macros/back_to_main.html" import back_to_main_page %}
{% block title %}
New Article
{% endblock %}

{% block body %}
<h1>New Article</h1>
<form method="post">

    {{ form.hidden_tag() }}
    {{ form.article_text.label(class="form-label")}}
    {{ form.article_text(class="form-control")}}

    {% if form.article_text.errors %}
    <ul class="alert alert-danger errors">
        {% for error in form.article_text.errors %}
        <li>{{ error }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <input type="submit" value="Save" class="btn btn-primary my-3">
</form>
<br>
{{ back_to_main_page() }}
{% endblock %}