{% extends "user_base.html" %}
{% block title %}
Login
{% endblock %}

{% block body %}
<div class="col-9">
    <div class="container" style="padding:30px 0;">
        <form method="post">
            <div class="form-group">
                {{ form.hidden_tag() }}
                <div class="col-md-3" style="margin: 5px 0;">
                    {{ form.login.label(class="form-label")}}
                    {{ form.login(class="form-control")}}
                </div>
                <div class="12 col-md-3" style="margin: 5px 0;">
                    {{ form.password.label(class="form-label")}}
                    {{ form.password(class="form-control")}}
                </div>
            </div>
            {% if form.password.errors %}
            <ul class="alert alert-danger errors">
                {% for error in form.password.errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            <div class="col-xs-12 col-md-5 my-3">
                <input type="submit" value="Login" class="btn btn-primary mb-2">
            </div>
            <br>
            <a href="{{ url_for('register') }}">Register</a>
        </form>
    </div>
</div>
{% endblock %}