{% extends 'main.html' %}
{% block title %}
Lessons
{% endblock %}
{% block content %}
<h1>lessons</h1>

<table class="table table-light">
    <tr>
        <th>Date</th>
        <th>Group</th>
        <th>Topic</th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    {% for lesson in lesson_list %}
    <tr>
        <td>{{ lesson.date_scheduled|date:'Y-m-d' }}</td>
        <td>{{ lesson.group.title }}</td>
        <td>{{ lesson.topic }}</td>
        <td><a href="{% url 'update-lesson' lesson.id %}">Edit</a></td>
        <td><a href="{% url 'delete-lesson' lesson.id %}">Delete</a></td>
        <td><a href="{% url 'lesson' lesson.id %}">View</a></td>
    </tr>
    {% endfor %}
</table>

{% endblock content %}