{% extends 'main.html' %}

{% block content %}
<h1>{{ product.topic }}</h1>
<br>
<table class="table table-light">
    <tbody>
        <tr>
            <td>Date:</td>
            <td>{{ lesson.date_scheduled|date:'Y-m-d' }}</td>
        </tr>
        <tr>
            <td>Group:</td>
            <td>{{ lesson.group.title }}</td>
        </tr>
        <tr>
            <td>Teacher:</td>
            <td>{{ lesson.teacher.user.last_name }} {{ lesson.teacher.user.first_name }}</td>
        </tr>
        <tr>
            <td>Attendees count:</td>
            <td>{{ lesson.student.count }}</td>
        </tr>
        <tr>
            <td>Topic:</td>
            <td>{{ lesson.topic }}</td>
        </tr>
        <tr>
            <td colspan="2"><a href="{% url 'lessons' %}">Back</a></td>
        </tr>
    </tbody>
</table>

{% endblock content %}